/*ESTILOS HEADER*/
#header{
    grid-area: header;
    background-color: #6FB1FC;
}
.titulo{
    text-transform: uppercase;
    font-size: larger;
    text-decoration: underline;
}

.navbar-nav{
    margin-right: 380px;
}
.nav-item{
    padding-right: 25px;
}
.nav-item:hover{
    text-decoration: underline;
}