/*  RESETEOS Y PERSONALIZACIONES*/
*{
    margin: 0;
    padding: 0;
    font-family: "Raleway";
    color: black;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
table{
    max-width: 100%;
    overflow-x: auto;
}
/*ESTILO BODY*/
#body{
    background-color: #FFFCDF;
    overflow-x: hidden;
}